@font-face {
	font-family: "Track";
	src: url('./Track.ttf') format('truetype');
}

* {
	margin: 0;
	padding: 0;
	outline: none;
	border: none;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body, html {
	height: 100%;
}

body {
	background: #2c3e50;
}

body:before {
	display: block;position: absolute;
	content: " ";
	
	top: 0;bottom: 0;
	right: 0;left: 0;

	background: rgba(0, 0, 0, .8);
}

section.content {
	display: block;position: relative;
	width: 840px;height: 500px;

	left: 50%;top: 50%;
	margin-top: -250px;
	margin-left: -400px;
	
	overflow: hidden;
}

section.content img.logo {
	position: relative;display: block;
	margin: 40px auto;
}

section.content span.badge {
	display: block;position: absolute;
	/*left: 72%;top: 85px;*/
	left: 70%;top: 85px;
	
	padding: 5px 10px;
	border-radius: 5px;
	transform: rotate(-15deg);

	background: #c0392b;
	color: #fff;

	font-family: "Lato", sans-serif;
	letter-spacing: .1em;
	font-size: 1.1em;
	font-weight: bold;

	-webkit-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
    -moz-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
    box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
}

section.content h1 {
	position: relative;
	color: #fff;
	text-transform: uppercase;
	font-family: "Lato", Arial, sans-serif;
	font-weight: bold;
	font-size: 2.5em;
	
	/*height: 50px;*/
	overflow: hidden;

	letter-spacing: .03em;

	text-align: center;
}

section.content p.description {
	display: block;position: relative;
	width: 100%;height: auto;

	font-family: "Lato", sans-serif;
	font-size: 1.2em;
	letter-spacing: .1em;
	color: #fff;

	text-align: center;
	margin: 30px auto;
}

.v2cooldown {
	display: block;position: relative;
	width: 790px;height: auto;
	margin: 15px auto;
}


@media (max-width: 800px) {

	body, html {
		min-height: 100%;
	}	

	body:before { display: none; }

	section.content {
		width: 100%;
		height: auto;
		min-height: 100%;
		margin: 0;
		left: 0;top: 0;
	}

	section.content:before {
		display: block; position: absolute;
		width: 100%; height: 100%;
		content: " ";

		left: 0; top: 0; right: 0; bottom: 0;
		background: rgba(0, 0, 0, .8);
	}

	.v2cooldown {
		width: 100%;
	}

}

@media (max-width: 450px) {
	
	section.content img.logo {
		width: 80%;
	}
	
	section.content span.badge {
		left: 80%;
		top: 80px;
	}

	section.content h1 {
		font-size: 2em;
	}

	section.content p.description {
		width: 90%;
		margin: 30px 5%;
	}

}
