body
{
	margin: 0;
	font-family: sans-serif;
}
.basket
{
	width: 750px;height: 350px;
	border: 2px solid blue;
	font-size: 26px;
}
/*.basket div
{
	float: left;
}*/
.basket .articles .top
{
	width: 400px;
	float: left;
}
.basket .articles .content
{
	height: 100%;
	border: 1px solid red;
}
.basket .amount .top
{
	width: 275px;
	float: left;
}