.top-box {
	display: block;position: relative;
	width: 100%;height: 180px;
	margin-bottom: 30px;
	
	background: url(../img/blog-h.jpg) no-repeat left center;
}
top-box:before {
	display: block;position: absolute;
	top: 0;bottom: 0;right: 0;left: 0;
	content: " ";
	
	background: rgba(0, 0, 0, 0.4);
}
.top-box:after {
	display: block;
	position: absolute;

	left: 0;right: 0;bottom: 0;top: 0;
	content: " ";
	height: 5px;width: 100%;

    background-color: rgba(0, 0, 0, 0.12);
}

.top-box h1 {
	display: block;
	position: relative;

	text-transform: uppercase;
	font-family: "Open Sans";
	font-weight: bold;
	font-size: 2.5em;
	color: #FFF;

	padding-top: 30px;
}
.top-box h3.subtitle {
	display: block;
	position: relative;
	
	text-transform: uppercase;
	font-family: "Open Sans";
	font-weight: 300;
	font-size: 1.4em;
	color: #DDD;
}

/* ----------------------------------- */
/*          LISTE DES ARTICLES         */
/* ----------------------------------- */
section.articles .article {
	position: relative;

	color: #FFF;
	margin-top: 15px;
	margin-bottom: 15px;

	font-family: "Lato", sans-serif;
	font-size: .8em;
}
section.articles .article .title {
	position: relative;
	width: 100%;height: auto;
	background-color: #2F2E34;
	border-right: 5px solid #242328;

	color: #FFF;
	padding: 10px 15px;

	-webkit-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
    -moz-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
    box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
}
section.articles .article .title:before {
    position: absolute;
    display: block;
    content: '';

	border-color: #2e1d23 transparent transparent transparent;
    border-style: solid;
    border-width: 15px 0 0 15px;
    
    bottom: -15px;
    left: 0;
}
section.articles .article .title h3 {
	margin: 0;
}
section.articles .article .title span.meta {
	font-size: .95em;
	color: rgba(255, 255, 255, 0.5);
}
section.articles .article .title span.meta span {
	color: #ddd;
	font-weight: bold;
}
section.articles .article .title span.meta img {
	position: relative;
	padding: 0 3px;
	top: 2.5px;
}
section.articles .article .type-badge {
	position: absolute;
	font-size: .9em;
	font-weight: bold;
	width: auto;height: 30px;
	background-color: #2980B9;
	color: #FAFAFA;
	text-align: center;
	line-height: 30px;
	font-family: "Open Sans", sans-serif;
	padding: 0 15px;
	padding-right: 25px;
	right: 13px;bottom: 60px;
	z-index: 1;

	-webkit-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
    -moz-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
    box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
}
section.articles .article .type-badge:before {
    position: absolute;
    display: block;
    content: '';

	border-color: #2759b9 transparent transparent transparent;
    border-style: solid;
    border-width: 10px 10px 0 0;
    
    bottom: -10px;
    right: 0;
}
section.articles .article .comments-badge {
	position: absolute;
	font-size: .9em;
	font-weight: bold;
	width: auto;height: 30px;
	background-color: #2ecc71;
	color: #FAFAFA;
	text-align: center;
	line-height: 30px;
	font-family: "Open Sans", sans-serif;
	padding: 0 15px;
	padding-right: 25px;
	right: 13px;bottom: 20px;
	z-index: 1;

	-webkit-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
    -moz-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
    box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
}
section.articles .article .comments-badge:before {
    position: absolute;
    display: block;
    content: '';

	border-color: #27ae60 transparent transparent transparent;
    border-style: solid;
    border-width: 10px 10px 0 0;
    
    bottom: -10px;
    right: 0;
}
section.articles .article .image-container {
	position: relative;
	width: calc(100% - 20px);height: auto;
	left: 15px;
	overflow: hidden;
}
section.articles .article .image-container:after {
	display: block;position: absolute;
	content: " ";

	top: 0;bottom: 0;
	left: 0;right: 0;

	transition: ease-out .3s;

	background: rgba(0, 0, 0, .2);
}
section.articles .article .image {
	position: relative;
	width: 100%;height: 0;
	bottom: 0;

	transition: ease-out .3s;

	background-position: center;
	background-size: cover;
}

section.articles .article.col-12 .image { height: 300px; }
section.articles .article.col-6  .image { height: 200px; }

section.articles .article .image-container:hover:after {
	background: rgba(0, 0, 0, .5);
	cursor: pointer;
}
section.articles .article .image-container:hover .image {
	transform: scale(1.1) rotate(2deg);
}


section.socials .social {
	margin: 15px 0;
}
section.socials .social .title {
	position: relative;
	width: 100%;height: auto;
	background-color: #3498db;
	font-size: .8em;

	color: #FFF;
	padding: 5px 8px;
	z-index: 1;

	-webkit-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
    -moz-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
    box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
}
section.socials .social .title i.fa {
	padding: 0 5px;
}
section.socials .social .title:before {
    position: absolute;
    display: block;
    content: '';

	border-color: #2980b9 transparent transparent transparent;
    border-style: solid;
    border-width: 10px 0 0 10px;
    
    bottom: -10px;
    left: 0;
}
section.socials .social .content {
	display: block;position: relative;
	width: calc(100% - 10px);height: 300px;

	margin-left: 10px;
	top: -2px;
	overflow-y: auto;
}

section.socials .social a.twitter-timeline {
	display: block;position: relative;
	width: 100%;height: auto;
	padding: 10px;
	
	background: #fff;
	font-size: .7em;
	color: #383838;
}
section.socials .social.facebook .title {
	background: #3B5998;
}
section.socials .social.facebook .title:before {
	border-color: #334e84 transparent transparent transparent;
}

/* ----------------------------------- */
/*               ARTICLE               */
/* ----------------------------------- */
.top-box.article-top-box {
	height: 300px;

	background-position: center;
	background-size: cover;

	text-align: center;
	text-shadow: 0 2px 0 rgba(0, 0, 0, .8);
}
.top-box.article-top-box:before {
	display: block;position: absolute;
	content: "";
	
	top: 0;bottom: 0;
	right: 0;left: 0;

	background: rgba(0, 0, 0, .6);
}
.top-box.article-top-box h1 {
	font-size: 1.8em;
	letter-spacing: .05em;

	padding-top: 40px;
}
.top-box.article-top-box h3.subtitle {
	text-transform: none;
	font-size: 1em;
	color: white;
}
.top-box.article-top-box h3.subtitle span.player-info {
	display: inline-block;position: relative;
	height: 32px;width: auto;

	background: white;

	-webkit-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
    -moz-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
    box-shadow: rgba(000,000,000,0.3) 0 1px 1px;

	top: 8px;
}
.top-box.article-top-box h3.subtitle span.author {
	position: relative;
	padding: 0 10px;
	padding-left: 5px;
	bottom: 10px;

	text-shadow: none;
	font-weight: bold;
	font-size: .8em;
	color: #383838;
}
.top-box.article-top-box h3.subtitle img {
	position: relative;
}

article.blog-article {
	position: relative;
	font-family: "Lato", "Open Sans", Arial, sans-serif;
	font-size:  17px;
	color: #383838;

	min-height: 300px;
	margin-top: -130px;
	letter-spacing: .2px;

	padding: 14px 20px 20px;
	text-align: justify;

	background: #fff;
}
article.blog-article .content {
	width: 768px;
	margin: 20px auto;
}

article img {
	max-width: 100%;
}

aside .metabar {
	display: block;/*position: absolute;*/
	width: 100%;height: 150px;
	
	/*bottom: 0;left: 0;right: 0;*/
	
	background: #DDD;
	color: #383838;
}
aside .metabar .left  {margin-top:30px;border-right:1px solid #898989;width:50%;float:left;}
aside .metabar .right {margin-top:40px;padding:0 25px;width:50%;float:left;}
aside .metabar .left,
aside .metabar .right {text-align:center}
aside .metabar .left img {
	position: relative;
	top: 5px;
}
aside .metabar .views-counter {
	display: inline-block;
	padding: 10px 15px;
	margin: -5px 0;
	margin-bottom: 10px;
	background: #EEE;
	
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: .9em;
	color: #383838;
}

aside .comments {margin: 25px auto}
aside .comments h3 {
	display: block;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	color: #383838;
}
aside .comments hr {
	display: block;position: relative;
	width: 90%;height: 1px;
	background: #DDD;
	
	margin: 10px 0;
	margin-bottom: 25px;
}

aside .comments .comment {
	width: 100%;height: auto;
	margin: 15px 0;
}
aside .comments .comment .author-head {
	display: block;position: relative;
	width: 80px;height: 80px;
	float: left;
}
aside .comments .comment .content {
	display: block;position: relative;
	width: calc(100% - 80px);height: auto;
	
	float: left;
}
/*aside .comments .comment .content p{text-align:justify}*/
aside .comments .comment .meta {
	font-family: "Open Sans";
	font-size: .9em;
}
aside .comments .comment .meta .playername{font-size:1.1em;font-weight:bold}
aside .comments .comment .meta .response_to {
	display: block;position: relative;
	margin-bottom: 5px;
	
	font-style: italic;
	font-size: .9em;
	color: #262626;
}
aside .comments .comment .send_response {
	font-style: italic;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	color: #2980b9;
	font-size: .9em;
}
aside .comments .comment .send_response:hover{text-decoration: underline;cursor:pointer}
aside .subcomments {
	margin-left: 80px;
	margin-top: 20px;
	margin-bottom: 20px;
}

aside .comments label {
	display: block;position: relative;
	width: 100%;height: auto;
	
	font-family: "Open Sans";
	text-transform: uppercase;
	font-weight: bold;
	font-size: .9em;
	color: #222;
}
aside .comments input,
aside .comments textarea {
	display: block;position: relative;
	width: 100%;height: 40px;
	
	border: 4px solid #DDD;
	background: #FFF;
	
	font-family: "Open Sans";
	font-weight: normal;
	font-size: .95em;
	
	margin:  10px 0;
	padding: 0 15px;
	
	-webkit-transition: border-color ease-out .2s;
	   -moz-transition: border-color ease-out .2s;
	    -ms-transition: border-color ease-out .2s;
	     -o-transition: border-color ease-out .2s;
	        transition: border-color ease-out .2s;
}
aside .comments .left .input input {width:95%}

aside .comments input:focus,
aside .comments textarea:focus { border-color: #AAA; }

aside .comments .input.error input {
	border-color: red;
}

aside .comments textarea {
	width: 100%;min-width: 100%;max-width: 100%;
	
	padding: 15px;
	min-height: 120px;
	
	font-weight: normal;
}
aside .comments input[type="submit"] {
	width: auto;
	float: right;
	
	border: none;
	background: #3498db;
	cursor: pointer;
	
	color: #FFF;
	font-weight: normal;
	font-size: 1.2em;
}
aside .comments input[type="submit"]:hover { background: #2980b9  }

.postform_parent_comment-container {
	display: none;
}
.postform_parent_comment-container span.introduce {
	display: block;position: relative;
	width: 100%;height: auto;
	
	font-family: "Open Sans";
	text-transform: uppercase;
	font-weight: bold;
	font-size: .9em;
	color: #222;
	
	margin-bottom: -10px;
}
.postform_parent_comment-container #postform_parent_comment {
	display: block;position: relative;
	width: 97.5%;height: auto;
	
	background: #EEE;
	border: 5px solid #DDD;
	padding: 15px;
}
.postform_parent_comment-container #postform_parent_comment p {height:50px;overflow:hidden}


.pagination-container {
	display: block;position: relative;
	width: 100%;height: auto;
	text-align: center;	
}

.pagination {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin-top: 10px;
}
.pagination li {
  display: inline;
  text-align: center;
}
.pagination a {
  float: left;
  display: block;
  text-decoration: none;
  padding: 5px 12px;
  margin-left: -1px;
  border: 1px solid transparent;
  line-height: 1.5;
  
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  
  border-color: #ddd;
  color: #4285F4;
  background: #fff;
}
.pagination a.active {
  cursor: default;
}
.pagination a:active {
  outline: none;
}

.pagination li:first-child a {
  -moz-border-radius: 6px 0 0 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px 0 0 6px;
}
.pagination li:last-child a {
  -moz-border-radius: 0 6px 6px 0;
  -webkit-border-radius: 0;
  border-radius: 0 6px 6px 0;
}
.pagination li.disabled:first-child a,
.pagination li.disabled:last-child  a {
	background: #EEE !important;
	color: #383838 !important;
	cursor: no-drop !important;
	
	border-color: #ddd !important;
}

.pagination a:hover {
  background: #eee;
}
.pagination a.active, .pagination a:active {
  border-color: #2980b9;
  background: #2980b9;
  color: #fff;
}