.top-box {
	display: block;position: relative;
	width: 100%;height: 180px;
	margin-bottom: 30px;
	
	background: url(../img/blog-h.jpg) no-repeat left center;
}
top-box:before {
	display: block;position: absolute;
	top: 0;bottom: 0;right: 0;left: 0;
	content: " ";
	
	background: rgba(0, 0, 0, 0.4);
}
.top-box:after {
	display: block;
	position: absolute;

	left: 0;right: 0;bottom: 0;top: 0;
	content: " ";
	height: 5px;width: 100%;

    background-color: rgba(0, 0, 0, 0.12);
}

.top-box h1 {
	display: block;
	position: relative;

	text-transform: uppercase;
	font-family: "Open Sans";
	font-weight: bold;
	font-size: 2.5em;
	color: #FFF;

	padding-top: 30px;
}
.top-box h3.subtitle {
	display: block;
	position: relative;
	
	text-transform: uppercase;
	font-family: "Open Sans";
	font-weight: 300;
	font-size: 1.4em;
	color: #DDD;
}

/* ----------------------------------- */
/*          LISTE DES ARTICLES         */
/* ----------------------------------- */
section.articles .article {
	position: relative;

	color: #FFF;
	margin-top: 15px;
	margin-bottom: 15px;

	font-family: "Lato", sans-serif;
	font-size: .8em;
}
section.articles .article .title {
	position: relative;
	width: 100%;height: auto;
	background-color: #2F2E34;
	border-right: 5px solid #242328;

	color: #FFF;
	padding: 10px 15px;

	-webkit-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
    -moz-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
    box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
}
section.articles .article .title:before {
    position: absolute;
    display: block;
    content: '';

	border-color: #2e1d23 transparent transparent transparent;
    border-style: solid;
    border-width: 15px 0 0 15px;
    
    bottom: -15px;
    left: 0;
}
section.articles .article .title h3 {
	margin: 0;
}
section.articles .article .title span.meta {
	font-size: .95em;
	color: rgba(255, 255, 255, 0.5);
}
section.articles .article .title span.meta span {
	color: #ddd;
	font-weight: bold;
}
section.articles .article .title span.meta img {
	position: relative;
	padding: 0 3px;
	top: 2.5px;
}
section.articles .article .type-badge {
	position: absolute;
	font-size: .9em;
	font-weight: bold;
	width: auto;height: 30px;
	background-color: #2980B9;
	color: #FAFAFA;
	text-align: center;
	line-height: 30px;
	font-family: "Open Sans", sans-serif;
	padding: 0 15px;
	padding-right: 25px;
	right: 13px;bottom: 60px;
	z-index: 1;

	-webkit-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
    -moz-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
    box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
}
section.articles .article .type-badge:before {
    position: absolute;
    display: block;
    content: '';

	border-color: #2759b9 transparent transparent transparent;
    border-style: solid;
    border-width: 10px 10px 0 0;
    
    bottom: -10px;
    right: 0;
}
section.articles .article .comments-badge {
	position: absolute;
	font-size: .9em;
	font-weight: bold;
	width: auto;height: 30px;
	background-color: #2ecc71;
	color: #FAFAFA;
	text-align: center;
	line-height: 30px;
	font-family: "Open Sans", sans-serif;
	padding: 0 15px;
	padding-right: 25px;
	right: 13px;bottom: 20px;
	z-index: 1;

	-webkit-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
    -moz-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
    box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
}
section.articles .article .comments-badge:before {
    position: absolute;
    display: block;
    content: '';

	border-color: #27ae60 transparent transparent transparent;
    border-style: solid;
    border-width: 10px 10px 0 0;
    
    bottom: -10px;
    right: 0;
}
section.articles .article .image-container {
	position: relative;
	width: calc(100% - 20px);height: auto;
	left: 15px;
	overflow: hidden;
}
section.articles .article .image-container:after {
	display: block;position: absolute;
	content: " ";

	top: 0;bottom: 0;
	left: 0;right: 0;

	transition: ease-out .3s;

	background: rgba(0, 0, 0, .2);
}
section.articles .article .image {
	position: relative;
	width: 100%;height: 0;
	bottom: 0;

	transition: ease-out .3s;

	background-position: center;
	background-size: cover;
}

section.articles .article.col-12 .image { height: 300px; }
section.articles .article.col-6  .image { height: 200px; }

section.articles .article .image-container:hover:after {
	background: rgba(0, 0, 0, .5);
	cursor: pointer;
}
section.articles .article .image-container:hover .image {
	transform: scale(1.1) rotate(2deg);
}


section.socials .social {
	margin: 15px 0;
}
section.socials .social .title {
	position: relative;
	width: 100%;height: auto;
	background-color: #3498db;
	font-size: .8em;

	color: #FFF;
	padding: 5px 8px;
	z-index: 1;

	-webkit-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
    -moz-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
    box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
}
section.socials .social .title i.fa {
	padding: 0 5px;
}
section.socials .social .title:before {
    position: absolute;
    display: block;
    content: '';

	border-color: #2980b9 transparent transparent transparent;
    border-style: solid;
    border-width: 10px 0 0 10px;
    
    bottom: -10px;
    left: 0;
}
section.socials .social .content {
	display: block;position: relative;
	width: calc(100% - 10px);height: 300px;

	margin-left: 10px;
	top: -2px;
	overflow-y: auto;
}

section.socials .social a.twitter-timeline {
	display: block;position: relative;
	width: 100%;height: auto;
	padding: 10px;
	
	background: #fff;
	font-size: .7em;
	color: #383838;
}
section.socials .social.facebook .title {
	background: #3B5998;
}
section.socials .social.facebook .title:before {
	border-color: #334e84 transparent transparent transparent;
}

/* ----------------------------------- */
/*               ARTICLE               */
/* ----------------------------------- */
.top-box.article-top-box {
	height: 300px;

	background-position: center;
	background-size: cover;

	text-align: center;
	text-shadow: 0 2px 0 rgba(0, 0, 0, .8);
}
.top-box.article-top-box:before {
	display: block;position: absolute;
	content: "";
	
	top: 0;bottom: 0;
	right: 0;left: 0;

	background: rgba(0, 0, 0, .6);
}
.top-box.article-top-box h1 {
	font-size: 1.8em;
	letter-spacing: .05em;

	padding-top: 40px;
}
.top-box.article-top-box h3.subtitle {
	text-transform: none;
	font-size: 1em;
	color: white;
}
.top-box.article-top-box h3.subtitle span.player-info {
	display: inline-block;position: relative;
	height: 32px;width: auto;

	background: white;

	-webkit-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
    -moz-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
    box-shadow: rgba(000,000,000,0.3) 0 1px 1px;

	top: 8px;
}
.top-box.article-top-box h3.subtitle span.author {
	position: relative;
	padding: 0 10px;
	padding-left: 5px;
	bottom: 10px;

	text-shadow: none;
	font-weight: bold;
	font-size: .8em;
	color: #383838;
}
.top-box.article-top-box h3.subtitle img {
	position: relative;
}

.article-container {
	position: relative;
	padding: 14px 20px 20px;

	min-height: 300px;
	margin-top: -130px;

	background: #fff;
}

.article-container .blog-article {
	position: relative;
	font-family: "Lato", "Open Sans", Arial, sans-serif;
	font-size:  17px;
	color: #383838;

	letter-spacing: .2px;
	text-align: justify;
	margin: 0;
}
.blog-article .content {
	/*width: 768px;*/
	margin: 20px 0;
}

.blog-article .social-column {
	margin-top: 15px;
}

.blog-article .social {
	position: relative;
	width: 100%;
	background: gray;
	padding: 10px;
	margin: 10px 0;

	text-transform: uppercase;
	font-weight: bold;
	font-size: .9em;
	color: #FFF;

	transition: background .2s ease-out;
}

.blog-article .social.fb       { background: #3b5998; }
.blog-article .social.tw       { background: #4099FF; }
.blog-article .social.gp       { background: #d34836; }
.blog-article .social.ma       { background: #2ecc71; }
.blog-article .social.fb:hover { background: #345087; }
.blog-article .social.tw:hover { background: #3a8cea; }
.blog-article .social.gp:hover { background: #bf3f31; }
.blog-article .social.ma:hover { background: #27ae60; }

.blog-article .social i.fa {
	width: 32px;
	padding: 0 6px;
	font-size: 1em;
}

article img {
	max-width: 100%;
}

.comments-container {
	width: 100%;
	margin: 15px 0;

	border-top: 2px solid #DDD;
}
.comments-container h3 {
	color: #383838;
	margin: 10px 0;
}
.comments-container label {
	display: block;position: relative;
	width: 100%;
	color: #383838;
}
.comments-container input[type="text"],
.comments-container input[type="password"],
.comments-container textarea {
	display: block;
	width: 100%;
	height: 30px;

	padding: 0 15px;
	margin: 10px 0;
	border-radius: 2px;

	background: #EEE;
	font-family: "Open Sans", Arial, sans-serif;
}

.comments-container textarea {
	min-height: 90px;
	padding: 15px;

	max-width: 100%;
	min-width: 100%;
}

.comments-container input[type="submit"] {
	float: right;
	padding: 10px 25px;
	border-radius: 2px;

	background: rgb(41, 128, 185);
	font-family: "Lato", sans-serif;
	font-weight: bold;
	font-size: .8em;
	color: white;

	border: 2px solid rgb(41, 128, 185);

	transition: ease-out .2s;
}

.comments-container input[type="submit"]:hover {
	cursor: pointer;
	color: rgb(41, 128, 185);
	background: white;
}

.comment {
	color: #404852;
	font-size: 16px;
}

.comment .meta span.playername {
	font-weight: bold;
	font-size: 1.2em;
}
.comment .meta span.date {
	color: rgba(0, 0, 0, .5);
	font-size: .7em;

	padding-left: 5px;
}
.comment .meta span.reply {
	color: rgba(0, 0, 0, .7);
	font-size: .8em;
	border-bottom: 1px solid rgba(0, 0, 0, .7);
	cursor: pointer;
}
.comment p {
	min-height: 70px;
}
.comment .author-head {
	width: 80px;
}
.comment .content.col-11 {
	width: calc(100% - 80px);
}

.reply-comment-container {
	display: none;
	position: relative;
	background: #DDD;
	width: 100%; height: 50px;
	border-radius: 2px 2px 0 0;
	padding: 5px;

	overflow: hidden;
}
.reply-comment-container.opened { display: block }
.reply-comment-container.opened + textarea {
	margin-top: 0;
	border-radius: 0 0 2px 2px;
}
.reply-comment-container img {
	float: left;
	margin-right: 10px;
}
.reply-comment-container span.replymsg {
	position: relative;
	color: black;
	top: -5px;
	font-size: .8em;
}
.reply-comment-container div.content {
	display: block;
	position: relative;
	top: -5px;
	color: #383838;
	font-size: .8em;
}
.reply-comment-container div.content span {
	display: inline-block;position: relative;
	width: 90%;height: 18px;
	overflow: hidden;
}
.reply-comment-container .close {
	position: absolute;display: block;
	right: 5px;top: 2px;
	color: #e74c3c;

	transition: ease-out .2s;
}
.reply-comment-container .close:hover {
	transform: scale(1.2);
	cursor: pointer;
}

.reply-icon i.fa {
	position: relative;
	transform: rotate(180deg);
	font-size: 2em;

	left: 40px;
	top: 10px;

	color: rgba(0, 0, 0, .1);
}

.subcomments .comment {
	position: relative;
	padding: 0;
}