.top-box {
	display: block;position: relative;
	width: 100%;height: 180px;
	margin-bottom: 0;
	
	background: url(../img/guide-h.jpg) center;
    background-size: cover;
}
.top-box:before {
	display: block;position: absolute;
	top: 0;bottom: 0;right: 0;left: 0;
	content: " ";
	
	background: rgba(0, 0, 0, 0.7);
}
.top-box:after {
	display: block;
	position: absolute;

	left: 0;right: 0;bottom: 0;top: 0;
	content: " ";
	height: 5px;width: 100%;

    background-color: rgba(0, 0, 0, 0.12);
}

.top-box h1 {
	display: block;
	position: relative;

	text-transform: uppercase;
	font-family: "Open Sans";
	font-weight: bold;
	font-size: 2.5em;
	color: #FFF;

	padding-top: 30px;
}
.top-box h3.subtitle {
	display: block;
	position: relative;
	
	text-transform: uppercase;
	font-family: "Open Sans";
	font-weight: 300;
	font-size: 1.4em;
	color: #DDD;
}

section.container-link div.category {
	position: relative;
	width: 100%;height: 200px;
	
	text-align: center;

	background-color: gray;
	color: #FFF;

	margin: 30px 0;
	overflow: hidden;
	
	float: left;
}
section.container-link div.category .bg {
	display: block;position: absolute;
	top: 0;bottom: 0;left: 0;right: 0;
	width: 100%;height: 100%;

	background-position: center;
	transition: ease-out .2s;
}
section.container-link div.category .bg:before {
	display: block;position: absolute;
	top: 0;bottom: 0;right: 0;left: 0;
	content: " ";
	
	background: rgba(0, 0, 0, 0.8);
	transition: ease-out .2s;
}

section.container-link div.category h4 {
	position: relative;
	width: 100%;
	line-height: 200px;

	text-align: center;
	font-size: 1.1em;

	color: #FFF;

	transition: ease-out .2s;
}
section.container-link div.category:hover h4 {
	text-decoration: underline;
	transform: scale(1.1) rotate(-2deg);
}
section.container-link div.category:hover .bg:before {
	background: rgba(0, 0, 0, 0.6);
}
section.container-link div.category:hover .bg {
	transform: scale(1.2) rotate(-10deg);
}
section.container-link div.category.sub {
	float: none;
	width: 100%;height: 120px;
}
section.container-link div.category.sub h4 {
	position: relative;
	bottom: auto;
	line-height: 120px;
}

/* Affichage des articles */
.guide-content blockquote {
	background-color: #F5F5F5;
	padding: 15px;
	line-height: 1.2em;
	border-left: 4px solid #2e3842;
	margin: 15px 0;
}
.guide-content blockquote.info{
	color: #FFF;
	background-color: #3498db;
	border-left: none;
}
.guide-content blockquote.warning{
	color: #FFF;
	background-color: #f39c12;
	border-left: none;
}
.guide-content blockquote.important{
	color: #FFF;
	background-color: #e74c3c;
	border-left: none;
}

.guide-content blockquote .command{
	position: relative;
	display: inline-block;
	background-color: lightgray;
	border-radius: 3px;
	font-weight: bold;
	padding: 3px;
	color: black;
}
.guide-content .separator {
	width: 100%;height: auto;

	margin: 35px 0;
	background: #EFEFEF;
	padding: 15px 20px;

	font-size: 2em;
	color: #383838;
	border-bottom: solid #DDD 20px;
}