*
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body
{
	margin: 0;
	font-family: sans-serif;
}
section.articles .article
{
	position: relative;
	width: 515px;height: auto;
	color: #FFF;
	margin: 75px;
}
section.articles .article .title
{
	position: relative;
	width: calc(100% - 50px);height: auto;
	background-color: #2F2E34;
	color: #FFF;
	padding: 10px 15px;
}
section.articles .article .title:before
{
    position: absolute;
    display: block;
    content: '';

	border-color: #2e1d23 transparent transparent transparent;
    border-style: solid;
    border-width: 15px 0 0 15px;
    
    bottom: -15px;
    left: 0;
}
section.articles .article .title h3
{
	margin: 0;
}
section.articles .article .title span.meta
{
	font-size: .95em;
	color: rgba(255, 255, 255, 0.5);
}
section.articles .article .title span.meta span
{
	color: #ddd;
	font-weight: bold;
}
section.articles .article .type
{
	position: absolute;
	font-size: .9em;
	font-weight: bold;
	width: auto;height: 30px;
	background-color: #2980b9;
	text-align: center;
	line-height: 30px;
	padding: 0 15px;
	right: 35px;bottom: 20px;
	z-index: 1;
}
section.articles .article .type:before
{
    position: absolute;
    display: block;
    content: '';

	border-color: #2759b9 transparent transparent transparent;
    border-style: solid;
    border-width: 15px 15px 0 0;
    
    bottom: -15px;
    right: 0;
}
section.articles .article .content
{
	position: relative;
	width: 450px;height: auto;
	left: 15px;
	color: black;
	background-color: #dadada;
}
section.articles .article .content .desc
{
	position: relative;
	width: 100%;height: auto;
	font-size: 16px;
	padding: 15px;
	border-bottom: 7px solid #2980b9;
}
section.articles .article .content .desc p
{
	margin: 0;
	padding-left: 5px;
}
section.articles .article .content img
{
	position: relative;
	width: 100%;height: auto;
	bottom: 0;
}